.contact-container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group .error {
  color: red;
  font-size: 0.875rem;
}

.submit-button {
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #646464;
}

.contact-container {
  text-align: center;
  padding: 20px;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-icon {
  width: 40px; /* Adjust this as needed */
  height: 40px; /* Adjust this as needed */
}


 
