.contact-page {
       background-color: white;
    }




.social-links-container {
    display: flex;
    justify-content: space-between; /* Optional: Adjust spacing between the elements */
    text-align: center;
    padding: 20px; /* Optional: Adjust padding as needed */
  }
  
  .contact-container {
    flex: 1; /* Adjusts the width to take up available space */
    margin-right: 20px; /* Space between contact and image */
  }
  
  .desktop-image-container {
    flex: 1; /* Adjusts the width to take up available space */
  }
  
  .desktop-image {
    max-width: 100%;
    height: auto;
    display: block;
  }
  