
.header-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; /* optional */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* optional */  
}
.text-name {
    color: #7c3aed;
    font-size: 1.125rem;
    font-weight: 600;
    align-content: center;
    margin-left: 100px;
    margin-right:100px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
}    


  .navbar-item {
    margin: 10px 20px;
    text-decoration: none;
    color: #333;
    position: relative;
    cursor: pointer;
  }
  
  .navbar-item:hover {
    color: #666;
  }


  .navbar-item::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000; /* Change this to your desired underline color */
    transition: width 0.3s ease;
  }
  
  .navbar-item.active::after {
    width: 100%;
  }
  