.App {
  text-align: center;
  background-image: url('/public/assets/Background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}



@keyframes slide {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}

.App {
  animation: slide 20s linear infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-content {
  padding-top: 84px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

